body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input-box1{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.input-box1 p{
    margin-right: 0.8rem;
}

.gender-box{
    display: flex;
    
}
#gender1{
  justify-content: flex-start;
  margin-right: 2rem;
}
#gender2{
  justify-content: flex-end;
  margin-left: 2rem;
}
.input-box-address{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}